.ad_main_header {
    background-color: #26BD00;
    padding: 2px 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.ad_main_logo {
    width: 45px;
}

.menu_button {
    width: 200px;
    background-color: #26BD00;
    border: none;
    color: #FFF;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 75px;
    left: 55px;
    width: 200px;
    /* height: 200px; */
    background-color: #26BD00;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: 0.3s;
    text-decoration: none;
    z-index: 1;
    /* padding: 10px 0; */
}

.menu.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.button_arrow {
    width: 18px;
    margin-left: 10px;
    transition: 0.5s;
}

.button_arrow.active {
    transform: rotate(180deg);
}

.menu_item {
    list-style: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
    text-align: center;
    cursor: pointer;
}

.link-to {
    text-decoration: none;
}

.admin-to-users {
    display: flex;
    margin-left: 20px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.admin-to-qr {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-radius: 39px;
    background: #FFF;
    width: 233px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-to-qr p {
    color: #000;
    font-size: 16px;
    text-decoration-line: underline;
    font-weight: 700;
}

.qr-arrow {
    width: 18px;
    margin-left: 20px;
}

.admin-to-qr {
    position: relative;
}

.qr-arrow {
    transition: transform 0.3s ease;
}

.admin-to-qr:hover .qr-arrow {
    transform: translateX(10px);
}

.admin-to-account {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.admin-to-exit {
    display: flex;
    margin-left: 0;
    margin-right: 20px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}