.cont-carts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-image: url('../../img/bg_change.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.views-info {
    width: 400px;
    border-radius: 30px;
    border: 1px solid #929292;
    background: #A4FF95;
    padding: 40px;
    cursor: pointer;
    transition: transform 0.15s;
    text-decoration: none;
    text-align: left;
}
.views-info:hover{
    transform: scale(1.08);
    transition: transform 0.5s;
}

.createQR {
    width: 400px;
    border-radius: 30px;
    border: 1px solid #929292;
    background: #95D9FF;
    padding: 40px;
    cursor: pointer;
    transition: transform 0.15s;
    text-decoration: none;
    text-align: left;
}
.createQR:hover{
    transform: scale(1.08);
    transition: transform 0.5s;
}

.choice-img {
    width: 130px;
    height: 130px;
}

.choice-text p {
    color: #000;
    font-size: 32px;
    line-height: 1.5;
}

.choice-text {
    height: 250px;
    display: flex;
    align-items: center;
}

.choice-arrow {
    width: 100px;
    height: 80px;
}